Resume Analyser.json
{
  "name": "My workflow 412",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Job Application",
        "formDescription": "Welcome, your dream job is waiting for you",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Role",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "AI Engineer"
                  },
                  {
                    "option": "Data Engineer"
                  },
                  {
                    "option": "SDE"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Resume",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -608,
        -16
      ],
      "id": "d3510873-5324-4164-89fd-02d43ed1944d",
      "name": "On form submission",
      "webhookId": "0c4a02f2-0814-4d2f-996f-d0d5029b399b"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -304,
        -384
      ],
      "id": "7f591d13-b1c6-4a6b-970b-0ad583a80cb9",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "12J4I3fg_isjBCcBXj0w1PVcV8WlUkcAgNHjEx4tecK0",
          "mode": "list",
          "cachedResultName": "Demo-1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12J4I3fg_isjBCcBXj0w1PVcV8WlUkcAgNHjEx4tecK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1042984524,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12J4I3fg_isjBCcBXj0w1PVcV8WlUkcAgNHjEx4tecK0/edit#gid=1042984524"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('On form submission').item.json.Name }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Role": "={{ $('On form submission').item.json.Role }}",
            "Resume Score": "={{ $json.Score }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resume Score",
              "displayName": "Resume Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        -384
      ],
      "id": "395839f5-ac89-4bd0-9361-1f3524c1a59e",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cGU3Vo6Dc01YKyNd",
          "name": "Google Sheets account 146"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -352,
        -16
      ],
      "id": "1afbc385-1f2a-4d07-8132-91b4f6537e75",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "**SYSTEM PROMPT: Resume Evaluation Agent**\n\nYou are an AI Resume Evaluation Agent. Analyze a candidate’s **resume PDF** and assign a **single score (1–10)** representing overall resume quality.\n\n**Guardrails**\n\n* Use **ONLY information provided**.\n* **Do NOT hallucinate or infer** missing details.\n* If something is missing, state **“Not mentioned in resume.”**\n* Do not assume skills, achievements, or experience unless explicitly written.\n* If information is unclear, **quote the relevant resume text** before interpreting.\n\n**Evaluation Criteria**\n\n1. Clarity & Structure (organization, readability)\n2. Experience & Impact (responsibilities, measurable results)\n3. Skills & Technical Depth (relevance and alignment)\n4. Professional Credibility (education, certifications)\n5. Evidence-Based Impact (metrics, outcomes)\n\n**Scoring Guide**\n1–2 Very weak\n3–4 Below average\n5–6 Average\n7–8 Strong\n9–10 Exceptional\n\n**Output**\nResume Evaluation Report\nOverall Score: X/10\n\n\nStrictly the output should be \"overal score:x\" "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -112,
        -384
      ],
      "id": "e80d6b7a-207c-4a32-8dcc-b3182c316480",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -256,
        -176
      ],
      "id": "dc2e1223-c05e-4802-a71a-5b6bf5c1f92a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Bohujy0vyjxx1c6G",
          "name": "OpenAi account 86"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc59ffe5-8969-45ab-bcd8-ab19acfc5772",
              "name": "Score",
              "value": "={{ $json.output.score }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -384
      ],
      "id": "ab5dd7f6-630c-465f-be3d-0c8d074b526a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"score\": \"x\"\n\t\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        64,
        -176
      ],
      "id": "ec941256-b61c-402f-87cc-8fd193cbf76e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "naveennayakal000@gmail.com",
        "subject": "=Resume of candidate  {{ $('On form submission').item.json.Name }}",
        "message": "=Role: {{ $('On form submission').item.json.Role }}\n\nResume {{ $('Edit Fields').item.json.Score }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        656,
        -384
      ],
      "id": "eb213db3-6f50-467c-a57e-3104950f1556",
      "name": "Send message and wait for response",
      "webhookId": "61fe5fb1-98c1-4458-a042-70ad4d1681f6",
      "credentials": {
        "gmailOAuth2": {
          "id": "1if454NIiCZotWjI",
          "name": "Gmail account 166"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "=Result of your application to  {{ $('On form submission').item.json.Role }}\n\n\n",
        "message": "={{ $json['Custom Message 1'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1504,
        -480
      ],
      "id": "2c49b911-b833-48cc-8811-ae8a4afab142",
      "name": "Send a message",
      "webhookId": "8d0d4408-997a-49e2-a781-043537bbc6c0",
      "credentials": {
        "gmailOAuth2": {
          "id": "1if454NIiCZotWjI",
          "name": "Gmail account 166"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6e9619e-37f2-4706-ae78-80903b8c856f",
              "name": "Custom Message 1",
              "value": "=\n\n\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Application Status</title>\n    <style>\n        body {\n            margin: 0;\n            padding: 0;\n            font-family: Arial, sans-serif;\n            background-color: #f4f6f8;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n        }\n\n        .card {\n            background: #ffffff;\n            padding: 30px 40px;\n            border-radius: 12px;\n            box-shadow: 0 4px 15px rgba(0,0,0,0.1);\n            text-align: center;\n            max-width: 400px;\n        }\n\n        h4 {\n            margin-bottom: 15px;\n            color: #2c3e50;\n        }\n\n        p {\n            color: #555;\n            font-size: 15px;\n            line-height: 1.5;\n        }\n\n        .status {\n            margin-top: 20px;\n            display: inline-block;\n            padding: 8px 16px;\n            background-color: #87edab;\n            color: #05ad10;\n            border-radius: 20px;\n            font-size: 13px;\n            font-weight: bold;\n        }\n    </style>\n</head>\n<body>\n\n    <div class=\"card\">\n        <h4><b>Hello Naveen!!</b></h4>\n        <p>Congratulations🎉 we are proceeding with your application.</p>\n        <div class=\"status\">Application is Selected</div>\n    </div>\n\n</body>\n</html>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        -480
      ],
      "id": "a23e9202-6912-4419-a6df-8daf30c0d18c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9d0cbc35-436f-438c-89c7-d9fe0c99686c",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        -384
      ],
      "id": "014a2cba-8425-4213-b61f-6d1506b3d1c5",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "479e5e97-36cf-46d7-a66b-f46dabffe657",
              "name": "custom message",
              "value": "=\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Application Status</title>\n    <style>\n        body {\n            margin: 0;\n            padding: 0;\n            font-family: Arial, sans-serif;\n            background-color: #f4f6f8;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n        }\n\n        .card {\n            background: #ffffff;\n            padding: 30px 40px;\n            border-radius: 12px;\n            box-shadow: 0 4px 15px rgba(0,0,0,0.1);\n            text-align: center;\n            max-width: 400px;\n        }\n\n        h4 {\n            margin-bottom: 15px;\n            color: #2c3e50;\n        }\n\n        p {\n            color: #555;\n            font-size: 15px;\n            line-height: 1.5;\n        }\n\n        .status {\n            margin-top: 20px;\n            display: inline-block;\n            padding: 8px 16px;\n            background-color: #ffe6e6;\n            color: #d9534f;\n            border-radius: 20px;\n            font-size: 13px;\n            font-weight: bold;\n        }\n    </style>\n</head>\n<body>\n\n    <div class=\"card\">\n        <h4><b>Hello Naveen!!</b></h4>\n        <p>Currently we are unable to proceed with your application. Better luck next time.</p>\n        <div class=\"status\">Application Not Selected</div>\n    </div>\n\n</body>\n</html>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        -272
      ],
      "id": "3a0c4f01-ee94-43e2-ab44-bb40cd3a4c49",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "=Result of your application to  {{ $('On form submission').item.json.Role }}",
        "message": "={{ $json['custom message'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1504,
        -272
      ],
      "id": "d1a92cbf-7b15-4b3d-9c2d-9aeb49ba37d3",
      "name": "Send a message1",
      "webhookId": "8d0d4408-997a-49e2-a781-043537bbc6c0",
      "credentials": {
        "gmailOAuth2": {
          "id": "1if454NIiCZotWjI",
          "name": "Gmail account 166"
        }
      }
    }
  ],
  "pinData": {
    "Extract from File": [
      {
        "json": {
          "numpages": 1,
          "numrender": 1,
          "info": {
            "PDFFormatVersion": "1.4",
            "Language": "en-US",
            "EncryptFilterName": null,
            "IsLinearized": false,
            "IsAcroFormPresent": false,
            "IsXFAPresent": false,
            "IsCollectionPresent": false,
            "IsSignaturesPresent": false,
            "Creator": "FlowCV - https://flowcv.com",
            "Producer": "Skia/PDF m141",
            "CreationDate": "D:20251219082241+00'00'",
            "ModDate": "D:20251219082241+00'00'",
            "Keywords": "FlowCV – Online Resume Builder – https://flowcv.com"
          },
          "metadata": {
            "dc:creator": [
              "FlowCV - https://flowcv.com"
            ],
            "pdf:keywords": "FlowCV – Online Resume Builder – https://flowcv.com"
          },
          "text": "Naveen Kumar Nayakal\nnayakalnaveen11@gmail.com +91 6309322414 linkedin.com/in/naveen-nayakal-631462246\nCareer Objective\nA motivated fresher currently working with Cloud and Artificial Intelligence technologies, seeking to transition into a core AI & ML\nengineering role focused on systems, compiler frameworks, and high-performance computing. Passionate about Artificial\nIntelligence, mathematics, and low-level optimization, with strong foundation in Java and logical problem-solving. Aspiring to\ncontribute to compiler-level AI infrastructure, optimized execution graphs, and scalable model performance through continuous\nlearning, research-driven development, and collaboration with advanced AI systems teams.\nProfessional Experience\nCloud AI Engineer\nKyndryl\n•Managed and monitored installed systems for highest level of availability.\n•Proven ability to learn quickly and adapt to new situations.\n•Learned and adapted quickly to new technology and software applications.\n•Skilled at working independently and collaboratively in a team environment.\n•Paid attention to detail while completing assignments.\n•Streamlined deployment processes for increased efficiency and reduced downtime.\n•Reduced time-to-market, automating build, test, and deployment pipelines using CI/CD tools.\n•Established effective communication channels between development and operations teams for smoother integration of tasks.\n•Mentored junior team members on DevOps concepts, best practices, tools usage and helped them ramp up quickly on the projects.\n•Compiled, cleaned and manipulated data for proper handling.\n•Analyzed large datasets to identify trends and patterns in customer behaviors.\nEducation\nSecured CGPA of 8.20\n2020-2024 | BTech in CSE , GITAM University\nCertificates\nJava programming issued by Great Learning.\nAZ-900: Azure Cloud Fundamentals\nAzure AI Fundamentals\nAZ-104: Azure Associate Administrator\nProjects\nAI SRE Dashboard\n•Cleaned and pre-processed 86,000 incident tickets to train for the ML model.\n•Tested with multiple ML models for data feeding and training to choose the best working model.\n•Build a complete end-to-end data pipeline for the AI SRE Dashboard\nPro-active AI Incident Prediction and Decisioning Application\n•Trained and tested multiple models like LightGBM, XGBoost and LSTM.\n•Trained a model for classification and forecasting Incidents.\n•Used Azure functions to automate the resolution steps for incidents.\nExtra Curricular Activities\nPOC for Football League\n•Led end-to-end execution of a company-wide football league as POC and Volunteer Lead, managing 17 teams and 120 players.\n•Owned planning, scheduling, and resource coordination by designing structured workflows for smooth operations.\n•Made real-time, data-driven decisions to resolve constraints and on-ground challenges under pressure.\nMarketing Head for Anime Club\n•Led the promotion and marketing strategies for the club, driving increased membership and event participation\n•Organized and co-ordinated various marketing campaigns, including social media outreach, poster design, and event planning",
          "version": "5.3.31"
        },
        "binary": {},
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Extract from File1": [
      {
        "json": {
          "numpages": 1,
          "numrender": 1,
          "info": {
            "PDFFormatVersion": "1.4",
            "Language": "en-US",
            "EncryptFilterName": null,
            "IsLinearized": false,
            "IsAcroFormPresent": false,
            "IsXFAPresent": false,
            "IsCollectionPresent": false,
            "IsSignaturesPresent": false,
            "Creator": "FlowCV - https://flowcv.com",
            "Producer": "Skia/PDF m141",
            "CreationDate": "D:20251219082241+00'00'",
            "ModDate": "D:20251219082241+00'00'",
            "Keywords": "FlowCV – Online Resume Builder – https://flowcv.com"
          },
          "metadata": {
            "dc:creator": [
              "FlowCV - https://flowcv.com"
            ],
            "pdf:keywords": "FlowCV – Online Resume Builder – https://flowcv.com"
          },
          "text": "Naveen Kumar Nayakal\nnayakalnaveen11@gmail.com +91 6309322414 linkedin.com/in/naveen-nayakal-631462246\nCareer Objective\nA motivated fresher currently working with Cloud and Artificial Intelligence technologies, seeking to transition into a core AI & ML\nengineering role focused on systems, compiler frameworks, and high-performance computing. Passionate about Artificial\nIntelligence, mathematics, and low-level optimization, with strong foundation in Java and logical problem-solving. Aspiring to\ncontribute to compiler-level AI infrastructure, optimized execution graphs, and scalable model performance through continuous\nlearning, research-driven development, and collaboration with advanced AI systems teams.\nProfessional Experience\nCloud AI Engineer\nKyndryl\n•Managed and monitored installed systems for highest level of availability.\n•Proven ability to learn quickly and adapt to new situations.\n•Learned and adapted quickly to new technology and software applications.\n•Skilled at working independently and collaboratively in a team environment.\n•Paid attention to detail while completing assignments.\n•Streamlined deployment processes for increased efficiency and reduced downtime.\n•Reduced time-to-market, automating build, test, and deployment pipelines using CI/CD tools.\n•Established effective communication channels between development and operations teams for smoother integration of tasks.\n•Mentored junior team members on DevOps concepts, best practices, tools usage and helped them ramp up quickly on the projects.\n•Compiled, cleaned and manipulated data for proper handling.\n•Analyzed large datasets to identify trends and patterns in customer behaviors.\nEducation\nSecured CGPA of 8.20\n2020-2024 | BTech in CSE , GITAM University\nCertificates\nJava programming issued by Great Learning.\nAZ-900: Azure Cloud Fundamentals\nAzure AI Fundamentals\nAZ-104: Azure Associate Administrator\nProjects\nAI SRE Dashboard\n•Cleaned and pre-processed 86,000 incident tickets to train for the ML model.\n•Tested with multiple ML models for data feeding and training to choose the best working model.\n•Build a complete end-to-end data pipeline for the AI SRE Dashboard\nPro-active AI Incident Prediction and Decisioning Application\n•Trained and tested multiple models like LightGBM, XGBoost and LSTM.\n•Trained a model for classification and forecasting Incidents.\n•Used Azure functions to automate the resolution steps for incidents.\nExtra Curricular Activities\nPOC for Football League\n•Led end-to-end execution of a company-wide football league as POC and Volunteer Lead, managing 17 teams and 120 players.\n•Owned planning, scheduling, and resource coordination by designing structured workflows for smooth operations.\n•Made real-time, data-driven decisions to resolve constraints and on-ground challenges under pressure.\nMarketing Head for Anime Club\n•Led the promotion and marketing strategies for the club, driving increased membership and event participation\n•Organized and co-ordinated various marketing campaigns, including social media outreach, poster design, and event planning",
          "version": "5.3.31"
        },
        "binary": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c2152536-bd91-41a9-8d62-7b375e367886",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0db25aff814d9d346b0e6d897946122cfc12e064b6e58ff53ffd8c9cc948ff20"
  },
  "id": "thtvDDz9bebnJ4M3",
  "tags": []
}